*{
	margin: 0;
	padding: 0;
	box-sizing: ###
}

body{
	background: lightblue;
}

.member__heading{
	font-size: 35px;
	color: blue;
	margin: 50px;
}

.member__text{

background: blue;

}

.member__label{
	font-size: 20px;
	margin: 50px;
	color: blue;
}